
<div class="container p-3 mt-5" style="max-width: 900px;">
    <h2 class="m-3"><b>Pokemon Information center!</b></h2>

    <section>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Search for a Pokemon" 
        [(ngModel)]="searchTerm" 
        (ngModelChange)="onSearch()">
    </section>

    <section class="mt-4">
        @if (loading || loadingModal) {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading Pokémon...</p>
        </div>
        }

        @if (error) {
        <div class="alert alert-danger">
            {{ error }}
        </div>
        }

        @if (!loading && !error) {
        <div class="row">
            @for (pokemon of filteredPokemons; track pokemon.name) {
            <div class="col-md-4 mb-4">
                <div class="card pokemon text-center">
                <img [src]="getPokemonImageUrl(pokemon)"> 
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <button class="btn btn-danger w-100" (click)="openModal(pokemon)">Details</button>
                </div>
                </div>
            </div>
            } @empty {
            <div class="col-12">
                <p>No pokemon found.</p>
            </div>
            }
        </div>
        }
    </section>
    <!-- Botones de paginación: solo se muestran si no hay búsqueda activa -->
    @if (!searchTerm) {
        <div class="d-flex justify-content-between mt-4">
        <button 
            class="btn btn-secondary" 
            (click)="goToPreviousPage()" 
            [disabled]="!previousPageUrl">Anterior</button>
        <button 
            class="btn btn-secondary" 
            (click)="goToNextPage()" 
            [disabled]="!nextPageUrl">Siguiente</button>
        </div>
    }
</div>

@if (showModal) {
    <app-modal [pokemon]="selectedPokemon" (close)="closeModal()"></app-modal>
}
