.container{
    background-color: transparent;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: 20px auto;
}

.card.pokemon {
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén apilados */
    align-items: center;
    text-align: center;
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    
    /* Agrega una transición suave al transform */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Regla para el efecto hover */
.card.pokemon:hover {
    transform: scale(1.05); /* Hace la tarjeta 5% más grande */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agrega una sombra para un efecto de "elevación" */
}

.card-body{
    width: 100%;
    background-color: #fff;
    background-color: #fff;
}

/* Puedes mantener tu estilo para el tamaño de la imagen */
.card img {
    width: 200px;
    height: 200px;
}
